@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
} 
body{
    background-color:chartreuse ;
    color: chartreuse;
}

.vysledek , .tlacitka{
    display: grid;
    max-width: 500px;
    margin: 5px;
}

.vysledek > input {
    background-color: chartreuse;
    border: 1px solid chartreuse;
    color: white;
    padding: 10px;
    text-align: right;
    font-size: 16pt;
    border-radius: 10px;
}

.tlacitka {
    margin-top: 10px;
    grid-template-columns: repeat(4, auto );
    gap: 5px;
}

.tlacitka > button {
    display: inline-block;
    background-color: #3c4043;
    border-radius: 5px;
    height: 3em;
    border: none;
    outline: none;
    box-shadow:  0 3px #999;
     margin-bottom: 5px;
}
.tlacitka >button:hover{
    background-color: #424548;
}.tlacitka > button:active {
    box-shadow:  0 3px #666;
    background-color:  #303134;
    transform: translateY(2px);
}